.container{
    flex-direction: column;
}
.logo{
    border-left: none;
}
nav ul{
    padding-left: 0px;
}
nav ul li a{
    padding: 5px;
}
.box{
    width: 75%;
    word-spacing:0.35px;
    letter-spacing:3px;

}
